<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="fragment_input/head.html :: head">
        </th:block> /*/-->


</head>

<body class="mini-sidebar">
	<!-- Preloader -->
	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>
	<div id="wrapper">

		<!-- ===== Top-Navigation ===== -->
		<nav class="navbar navbar-default navbar-static-top m-b-0"
			th:replace="fragments/navbar.html :: navbar"></nav>
		<!-- ===== Top-Navigation-End ===== -->
		<!-- ===== Left-Sidebar ===== -->
		<aside class="sidebar" role="navigation"
			th:replace="fragments/sidebar.html :: sidebar"></aside>
		<!-- ===== Left-Sidebar-End ===== -->
		<!-- Page Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- .row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-0">Formulir Kategori</h3>
							<p class="text-muted m-b-30 font-13">Kategori dari
								perpustakaan</p>

							<div>
								<select class="form-control select2" id="address">
									<option value="no">no select</option>
									<option th:each="o : ${perpustakaans}" th:value="${o.id}" 
										th:text="${o.name}"></option>
								</select> <input type="button" value="Show" id="submit"
									onclick="renderMap();"> <input type="reset"
									value="Reset">
								<div>
									<div id="map" style="width: 900px; height: 600px;"></div>
								</div>

							</div>
							<div id="data-perpus">
								<h3>Informasi Perpustakaan</h3>
								<table>
									<tr>
										<td>Nama Perpustakaan</td>
										<td id="nama-data"></td>
									</tr>
									<tr>
										<td>Alamat</td>
										<td id="alamat-data"></td>
									</tr>
									<tr>
										<td>No Telepon</td>
										<td id="tlpn-data">></td>
									</tr>
									<tr>
										<td>Jam Buka</td>
										<td id="jam-buka-data">></td>
									</tr>
									<tr>
										<td>Jam Tutup</td>
										<td id="jam-tutup-data">></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<!-- ===== Right-Sidebar ===== -->
				<div class="right-sidebar"
					th:replace="fragments/right-sidebar.html :: right-sidebar"></div>
				<!-- ===== Right-Sidebar-End ===== -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer t-a-c"
				th:replace="fragments/footer.html :: footer"> </footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!--/*/ <th:block th:include="fragment_input/script.html :: script">
        </th:block> /*/-->
	<script>
		$(document)
				.ready(
						function() {
							// type_holder
							// <div><label><input type="checkbox" class="types" value="mosque" />Mosque</label></div>

							var types = [ 'accounting', 'airport',
									'amusement_park', 'aquarium',
									'art_gallery', 'atm', 'bakery', 'bank',
									'bar', 'beauty_salon', 'bicycle_store',
									'book_store', 'bowling_alley',
									'bus_station', 'cafe', 'campground',
									'car_dealer', 'car_rental', 'car_repair',
									'car_wash', 'casino', 'cemetery', 'church',
									'city_hall', 'clothing_store',
									'convenience_store', 'courthouse',
									'dentist', 'department_store', 'doctor',
									'electrician', 'electronics_store',
									'embassy', 'fire_station', 'florist',
									'funeral_home', 'furniture_store',
									'gas_station', 'gym', 'hair_care',
									'hardware_store', 'hindu_temple',
									'home_goods_store', 'hospital',
									'insurance_agency', 'jewelry_store',
									'laundry', 'lawyer', 'library',
									'liquor_store', 'local_government_office',
									'locksmith', 'lodging', 'mel_delivery',
									'meal_takeaway', 'mosque', 'movie_rental',
									'movie_theater', 'moving_company',
									'museum', 'night_club', 'painter', 'park',
									'parking', 'pet_store', 'pharmacy',
									'physiotherapist', 'plumber', 'police',
									'post_office', 'real_estate_agency',
									'restaurant', 'roofing_contractor',
									'rv_park', 'school', 'shoe_store',
									'shopping_mall', 'spa', 'stadium',
									'storage', 'store', 'subway_station',
									'synagogue', 'taxi_stand', 'train_station',
									'transit_station', 'travel_agency',
									'university', 'veterinary_care', 'zoo' ];
							var html = '';

							$
									.each(
											types,
											function(index, value) {
												var name = value.replace(/_/g,
														" ");
												html += '<div><label><input type="checkbox" class="types" value="'+ value +'" />'
														+ capitalizeFirstLetter(name)
														+ '</label></div>';
											});

							$('#type_holder').html(html);
						});

		function capitalizeFirstLetter(string) {
			return string.charAt(0).toUpperCase() + string.slice(1);
		}

		var map;
		var infowindow;
		var autocomplete;
		var countryRestrict = {
			'country' : 'in'
		};
		var selectedTypes = [];

		function initialize() {

			autocomplete = new google.maps.places.Autocomplete((document
					.getElementById('address')), {
				types : [ '(regions)' ],
			// componentRestrictions: countryRestrict
			});

			var pyrmont = new google.maps.LatLng(-6.942634399999999, 107.62777870000002);

			map = new google.maps.Map(document.getElementById('map'), {
				center : pyrmont,
				zoom : 12
			});
		}

		function renderMap() {
			// Get the user defined values
			/* $("select.country").change(function(){
			    var selectedCountry = $(this).children("option:selected").val();
			    alert("You have selected the country - " + selectedCountry);
			}); */
			var address = $("select#address").children("option:selected").val();
			if (address == "no") {
				address = "Bandung Jawabarat";
			}
			console.log("address: " + address)
			//var radius = parseInt(document.getElementById('radius').value) * 1000;

			// get the selected type
			selectedTypes = [];
			$('.types').each(function() {
				if ($(this).is(':checked')) {
					selectedTypes.push($(this).val());
				}
			});

			var geocoder = new google.maps.Geocoder();
			var selLocLat = 0;
			var selLocLng = 0;

			geocoder
					.geocode(
							{
								'address' : address
							},
							function(results, status) {
								if (status === 'OK') {
									//console.log(results[0].geometry.location.lat() + ' - ' + results[0].geometry.location.lng());

									selLocLat = results[0].geometry.location
											.lat();
									selLocLng = results[0].geometry.location
											.lng();

									//var pyrmont = new google.maps.LatLng(52.5666644, 4.7333304);

									var pyrmont = new google.maps.LatLng(
											selLocLat, selLocLng);

									map = new google.maps.Map(document
											.getElementById('map'), {
										center : pyrmont,
										zoom : 11
									});

									//console.log(selectedTypes);

									var request = {
										location : pyrmont,
										radius : 100,
										types : [ "library", "university",
												"shcool" ]
										//radius : radius,
										//types : selectedTypes
									};

									infowindow = new google.maps.InfoWindow();

									var service = new google.maps.places.PlacesService(
											map);
									service.nearbySearch(request, callback);
								} else {
									alert('Geocode was not successful for the following reason: '
											+ status);
								}
							});
		}

		function callback(results, status) {
			if (status == google.maps.places.PlacesServiceStatus.OK) {
				for (var i = 0; i < results.length; i++) {
					createMarker(results[i], results[i].icon);
				}
			}
		}

		function createMarker(place, icon) {
			var placeLoc = place.geometry.location;

			var marker = new google.maps.Marker({
				map : map,
				position : place.geometry.location,
				icon : {
					url : icon,
					scaledSize : new google.maps.Size(20, 20)
				// pixels
				},
				animation : google.maps.Animation.DROP
			});

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent(place.name + '<br>' + place.vicinity);
				infowindow.open(map, this);
			});
		}
		
		$("#address").change(function(){
	        var address = $(this).children("option:selected").val();
	        $.ajax({
				url : "/api/perpustakaan/" + address,
				method : "GET",
				success : function(obj) {
					console.log(obj)
					$("#nama-data").html(obj.name);
					$("#alamat-data").html(obj.alamat);
					$("#tlpn-data").html(obj.telepon);
					$("#jam-buka-data").html(obj.formatJamBuka);
					$("#jam-tutup-data").html(obj.formatJamTutup);
				}
			})
	    });
	</script>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW5w5eB6yucS6gDZwhsNBRomJs6Z37ack&libraries=places&callback=initialize"
		async defer></script>

	
</body>

</html>